/* HEADER */
.header{
    

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 35px;

    background: linear-gradient(135deg, #4f46e5, #6366f1);

    box-shadow: 0 4px 15px rgba(0,0,0,0.12);
}

/* LEFT SIDE */
.header-left{
    display: flex;
    align-items: center;
    gap: 15px;
}

/* LOGO */
.header img{
    width: 55px;
    height: 55px;

    object-fit: cover;

    border-radius: 50%;

    background: white;
    padding: 5px;

    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

/* WELCOME TEXT */
.header h3{
    color: white;

    font-size: 18px;
    font-weight: 600;
}

/* RESPONSIVE */
@media(max-width: 768px){

    .header{
        flex-direction: column;

        gap: 15px;

        text-align: center;
    }

    .header-left{
        flex-direction: column;
    }
}