body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    width: 100%;
    height: 70px;
    background: #1e293b;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 25px;
    box-sizing: border-box;
}

/* LEFT */
.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-left img {
    width: 45px;
    height: 45px;
}

.header-left h3 {
    color: white;
    margin: 0;
    font-size: 18px;
}
.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

/* push dropdown to right if needed */
.btn-group {
    margin-left: auto;
}

/* logout icon styling */
.nav-right a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.nav-right a:hover {
    color: #0d6efd;
}
.nav-right i{
    color: white;
}
.nav-right i:hover{
    color: black;
}
.logo {
    width: 50px;
    height: auto;
}
