
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* PAGE */
body {
    background: #f3f6fb;
    color: #333;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 18px;

    flex-wrap: wrap;

    padding: 10px;

    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

/* NAV LINKS */
.navbar a {
    text-decoration: none;
    color: #444;

    padding: 8px 14px;
    border-radius: 6px;

    font-size: 14px;
    white-space: nowrap;

    transition: 0.2s;
    font-weight: 500;
}

.navbar a:hover {
    background: #e8ecff;
    color: #2d4bff;
}

/* MAIN CARD */
.mainContainer {
    width: 90%;
    max-width: 420px;
max-height: 70vh;
    margin: 20px auto;

    background: #fff;
    padding: 20px;

    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.06);

    text-align: center;
}

/* HEADER TEXT */
.mainContainer h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* ROLE TEXT */
.role {
    margin: 10px 0;
    font-size: 15px;
}

.role span {
    color: #2d4bff;
    font-weight: bold;
}

/* DROPDOWN */
select {
    width: 100%;
    padding: 8px;

    border-radius: 8px;
    border: 1px solid #ddd;

    margin: 15px 0;
    outline: none;
}

/* LOGOUT BUTTON */
#logoutBtn {
    width: 100%;
    padding: 10px;

    background: #ff4d4d;
    color: white;

    border: none;
    border-radius: 8px;

    cursor: pointer;
    transition: 0.2s;
}

#logoutBtn:hover {
    background: #e60000;
}

/* SUCCESS MESSAGE */
.success {
    background: #e7f7ea;
    color: #2e7d32;

    padding: 10px;
    border-radius: 8px;

    margin-bottom: 10px;
    font-size: 14px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;

    background: #1f1f1f;
    color: white;

    text-align: center;

    padding: 10px;
    font-size: 14px;

    box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
}

/* MOBILE RESPONSIVE */
@media (max-width: 600px) {

    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .navbar a {
        width: 100%;
        text-align: center;
        background: #f5f7fb;
    }

    .mainContainer {
        margin: 10px;
        padding: 15px;
    }
}
